@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #333333;
    background-color: #F2F2F2;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

ul li {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.visually-hidden {
    visibility: hidden;
}

/* Шапка сайта  */

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    vertical-align: top;
    text-decoration: none;
}

.navigation-user-search {
    background-image: url("../images/icon/icon-search.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.navigation-user-favorite {
    background-image: url("../images/icon/icon-favorite.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.navigation-item-button {
    background-color: #756157;
    font-size: 16px;
    line-height: 1.2;
    vertical-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

/*index-html*/

/*section Приветствие*/
.welcome {
    background-image: url("../images/vector-preview-sedona.svg"),
        url("../images/preview-sedona.jpg");
    background-position: bottom, 0 0;
    background-repeat: no-repeat;
    background-size: auto, auto;
}

.welcome-main-box {
    width: 458px;
    margin: 0 auto;
}


/*section Преимущества*/
.advantages>h2 {
    font-size: 30px;
    line-height: 1.2;
    vertical-align: top;
    text-align: center;
    color: #000000;
}

.advantages-text {
    font-size: 22px;
    vertical-align: top;
    text-align: center;
}

.advantages-item-town::after {
    content: url("../images/real-town.jpg");
}

.advantages-item-bridge::before {
    content: url("../images/devil-bridge.jpg");
}

.advantages-list h4 {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
}

.advantages-item-blue {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.advantages-item-blue h4 {
    color: #FFFFFF;
}

.advantages-list p {
    line-height: 1.2;
    vertical-align: top;
}

.advantages-title-house::before {
    content: url("../images/icon/icon-house.svg");
}

.advantages-title-food::before {
    content: url("../images/icon/icon-food.svg");
}

.advantages-title-souvenirs::before {
    content: url("../images/icon/icon-souvenirs.svg");
}

/*section Поиск гостиниц */
.search-hotels {
    text-align: center;
}

.search-hotels-title {
    font-size: 30px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
}

.search-hotels-description {
    font-size: 20px;
    vertical-align: top;
}

.search-hotels-button {
    background-color: #756157;
    font-size: 20px;
    line-height: 1.8;
    vertical-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/*section подписка*/
.subscribe {
    background-image: url("../images/blurred-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    color: #FFFFFF;
    text-align: center;
    vertical-align: top;
}
.subscribe-bg-color {
    background-color: #82B3D3;
}

.subscribe-bg-none {
    background-image: none;
    color: #000000;
}

.subscribe-title {
    font-size: 30px;
    line-height: 1.2;
}

.subscribe-description {
    font-size: 22px;
}

.subscribe-form>input {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 600px;
    height: 60px;
    font-size: inherit;
    background-color: #F2F2F2;
}

.subscribe-button {
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
    border: none;
    width: 200px;
    height: 60px;
    background-color: #82B3D3;
    color: #FFFFFF;
    font-weight: 700;
    /*не могу разобраться почему съехала кнопка.*/
    font-size: 20px;
    text-transform: uppercase;
}

/*подвал страницы*/

.button-vk {
    background-image: url("../images/icon/icon-vk.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
}

.button-tg {
    background-image: url("../images/icon/icon-telegram.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
}

.button-yt {
    background-image: url("../images/icon/icon-you-tube.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
}

.page-footer-tel {
    font-size: 40px;
    line-height: 40px;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
}

/*hotels.html*/
.infrostructure-list,
.housing-list,
.result-list,
.pagination {
    list-style-type: none;
}

.breadcrumbs-link-icon {
    background-image: url("../images/icon/icon-home.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
}

.search-parameters-box {
    background-image: url("../images/blurred-background-2\ .jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: #FFFFFF;
    background-color: #93b6ce;
}

.catalog-filter-group {
    border: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 1.3;
    vertical-align: top;
}

.infrostructure-list,
.housing-list {
    vertical-align: top;
}

.filter-form-apply,
.filter-form-reset {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    font-family: "PT Sans";
}

.filter-form-apply {
    border: none;
    background-color: #82B3D3;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 700;
}

.filter-form-reset {
    border: none;
    background: transparent;
}

.search-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #000000;
    text-transform: uppercase;
}

.select-control {
    background: transparent;
    appearance: none;
    vertical-align: top;
    text-align: left;
    background: url("../images/icon/icon-bottom-tick.svg") right center no-repeat;
    font-size: 18px;
    line-height: 1.2;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.button-table {
    background-image: url("../images/icon/icon-table.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid #E5E5E5;
}

.button-slideshow {
    background-image: url("../images/icon/icon-slideshow.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid #E5E5E5;
}

.button-list {
    background-image: url("../images/icon/icon-list.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid #E5E5E5;
}

.result-list .result-card-link {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    vertical-align: top;
}

.result-card-price {
    line-height: 1.2;
    vertical-align: top;
}

.result-card-link-detailed,
.result-card-link-favourites {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    background-color: #756157;
}

.result-card-link-favourites {
    background-color: #82B3D3;
}

.result-link-active {
    background-color: #7DB54F;
}

.result-list p {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
}

.pagination-link {
    background-color: #82B3D3;
    text-decoration: none;
    color: #FFFFFF;
}

/*форма поиска гостиниц по дате*/
.search-form-title {
    font-size: 30px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.search-form label {
    font-size: 20px;
    line-height: 1.3;
    vertical-align: top;
    font-weight: 700;
    color: #000000;
}

.button-search-hotels {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    background-color: #82B3D3;
    border: none;
}

.search-form-input {
    border: none;
    background-color: #F2F2F2;
    font-size: 18px;
    line-height: 1.2;
}

.search-form-text {
    font-size: 16px;
    line-height: 1.3;
    vertical-align: bottom;
}

.text-alerts {
    color: #FF5757;
}

.number-hotels {
    background: transparent;
    appearance: none;
    vertical-align: top;
    text-align: left;
    background: url("../images/icon/icon-bottom-tick.svg") right center no-repeat;
    font-size: 18px;
    line-height: 1.2;
    width: 160px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}