@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

ul li {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Шапка сайта  */
.navigation {
    display: flex;
    width: 88%;
    margin: 0 auto;
}

.header-logo {
    display: block;
    position: relative;
    z-index: 1;
}

.navigation-logo {
    display: block;
    margin-right: 30px;
    width: 139px;
    margin-bottom: -5px;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 20px 17px;
}

.navigation-user-item {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 18px;
    min-height: 18px;

}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
    justify-content: end;
}

.navigation-user-search {
    display: block;
    width: 40px;
    height: 30px;
    background-image: url("../images/icon/icon-search.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.navigation-user-favorite {
    display: block;
    width: 40px;
    height: 30px;
    background-image: url("../images/icon/icon-favorite.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.navigation-item-button {
    display: block;
    background-color: #756157;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 160px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-left: 20px;
}

/*index-html*/

/*section Приветствие*/
.welcome {
    background-image: url("../images/vector-preview-sedona.svg"),
        url("../images/preview-sedona.jpg");
    background-position: bottom, 0 0;
    background-repeat: no-repeat;
    background-size: auto auto, cover;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 82px;
    margin-bottom: 63px;
}

.welcome-main-inscription {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*section Преимущества*/
.advantages-list,
.advantages-list-container {
    margin: 0;
    padding: 0;
}

.advantages-list,
.advantages-item-realtown,
.advantages-item-bridge,
.advantages-list-container {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-realtown,
.advantages-item-bridge {
    background-color: #82B3D3;
}

.advantages-item-description {
    width: 230px;
    color: #FFFFFF;
    padding: 92px 85px;
}

.advantages-item-pic {
    width: 800px;
    height: 382px;
}

.advantages-image {
    display: inline-block;
    vertical-align: top;
}

.advantages-list-container-item {
    width: 400px;
    box-sizing: border-box;
    padding: 80px 85px;
}

.advantages-item-accent,
.advantages-item-otheraccent {
    width: 400px;
    box-sizing: border-box;
    padding: 103px 85px 102px 85px;
}

.advantages-item-food {
    background-color: #FFFFFF;

}

.advantages-main-title {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 31px;
}

.advantages-title-realtown,
.advantages-title-bridge {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 31px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px
}

.advantages-text {
    font-size: 22px;
    vertical-align: top;
    text-align: center;
    margin: 0;
    margin-bottom: 127px;
}

.advantages-title,
.advantages-title-souvenirs,
.advantages-title-food,
.advantages-title-house {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.advantages-description {
    line-height: 1.2;
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-item-house,
.advantages-item-souvenirs {
    background-color: #f0f6fa;
}

.advanteges-number {
    line-height: 1.2;
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 26px;
}

.advantages-title-house::before {
    display: block;
    content: url("../images/icon/icon-house.svg");
    margin-bottom: 31px;
}

.advantages-title-food::before {
    display: block;
    content: url("../images/icon/icon-food.svg");
    margin-bottom: 31px;
}

.advantages-title-souvenirs::before {
    display: block;
    content: url("../images/icon/icon-souvenirs.svg");
    margin-bottom: 31px;
}

.advantages-item-accent {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-otheraccent {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages {
    margin-bottom: 91px;
}

/*section Поиск гостиниц */
.search-hotels {
    text-align: center;
}

.search-hotels-title {
    font-size: 30px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 29px;
}

.search-hotels-description {
    font-size: 22px;
    vertical-align: top;
    margin: 0;
    margin-bottom: 56px;
}

.search-hotels-button {
    display: block;
    width: 574px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    background-color: #756157;
    font-size: 20px;
    line-height: 1.8;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 93px;
    border-radius: 4px;
}

/*section подписка*/
.subscribe {
    background-image: url("../images/blurred-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    vertical-align: top;
    padding-top: 94px;
    padding-bottom: 94px;
}

.subscribe-bg-color {
    background-color: #82B3D3;
}

.subscribe-bg-none {
    background-image: none;
    color: #000000;

}

.subscribe-title {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 29px;
}

.subscribe-description {
    font-size: 22px;
    margin: 0;
    margin-bottom: 46px;
}

.subscribe-form>input {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 600px;
    min-height: 60px;
    font-size: inherit;
    background-color: #F2F2F2;
}

.subscribe-button {
    border-radius: 0 10px 10px 0;
    margin-left: -5px;
    border: none;
    min-width: 200px;
    background-color: #82B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 15px;
}

/*подвал страницы*/
.page-footer {
    display: flex;
    width: 88%;
    margin: 0 auto;
    min-height: 120px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    min-width: 130px;
    margin-right: 38px;
    padding-left: 0;
}

.footer-contact {
    width: 720px;
    margin-right: 53px;
    text-align: center;
    margin-top: 40px;
}

.logo-academy {
    width: 115px;
    margin-top: 43px;
}

.button-vk {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icon/icon-vk.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.button-tg {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icon/icon-telegram.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.button-yt {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icon/icon-you-tube.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.page-footer-tel {
    font-size: 40px;
    line-height: 40px;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
}

/*hotels.html*/
.breadcrumbs,
.infrostructure-list,
.housing-list,
.main-title {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    margin-bottom: 40px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
}

.search-parameters-group {
    width: 88%;
    padding: 35px 70px 70px 70px;
}

.breadcrumbs-link-icon {
    display: block;
    width: 20px;
    height: 25px;
    background-image: url("../images/icon/icon-home.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.search-parameters-box {
    background-image: url("../images/blurred-background-2\ .jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
    background-color: #93b6ce;
    margin-bottom: 65px;
}

.catalog-filter-group {
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 1.3;
    vertical-align: top;
    margin-bottom: 30px;
}

.catalog-filter-infrastructure {
    width: 160px;
    margin-right: 60px;
}

.catalog-filter-type {
    width: 150px;
    margin-right: 175px;
}

.catalog-filter-cost {
    width: 288px;
    margin-right: 50px;
}

.bottons-group {
    width: 160px;
}

.infrostructure-list,
.housing-list {
    vertical-align: top;
}

.filter-form-apply,
.filter-form-reset {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    display: block;
}

.filter-form-apply {
    border: none;
    background-color: #82B3D3;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 35px;
    margin-bottom: 20px;
}

.filter-form-reset {
    border: none;
    background: transparent;
    display: block;
    width: auto;
    margin: 0 auto;
}

/*section Каталог*/
.catalog-title-box {
    display: flex;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 57px;
}

.search-result {
    margin-right: auto;
}

.catalog-footer-box {
    display: flex;
    width: 88%;
    margin: 0 auto;
}

.search-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-right: 191px;
}

.select-control {
    background: transparent;
    appearance: none;
    vertical-align: top;
    text-align: left;
    background: url("../images/icon/icon-bottom-tick.svg") right center no-repeat;
    font-size: 18px;
    line-height: 1.2;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    width: 290px;
    margin-right: auto;
}

.catalog-menu-box {
    display: flex;
}

.button-table {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("../images/icon/icon-table.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;
}

.button-slideshow {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("../images/icon/icon-slideshow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;
}

.button-list {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("../images/icon/icon-list.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

/*Карточки товаров*/
.result-card h3 {
    padding: 0;
    margin: 0;
}

.result-list {
    margin: 0;
    padding: 0;
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    column-gap: 18px;
    margin-bottom: 88px;
}

.result-description {
    width: 175px;
    margin-right: 51px;
}

.result-card {
    width: 300px;
    padding: 20px;
    display: grid;
    grid-template-rows: 211px min-content auto min-content auto;
    grid-template-columns: 140px 20px 140px;
    row-gap: 16px;
}

.result-card-link {
    grid-column: 1/-1;
}

.result-card-hotel {
    grid-column: 1/2;
}

.result-card-price {
    grid-column: 3/4;
}

.result-list .result-card-link {
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    vertical-align: top;
}

.result-card-price,
.result-card-hotel {
    line-height: 1.2;
    vertical-align: top;
}

.result-card-link-detailed,
.result-card-link-favourites {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    background-color: #756157;
}

.result-card-link-detailed {
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 4px;
    grid-column: 1/2;
}

.result-card-link-favourites {
    background-color: #82B3D3;
    border-radius: 4px;
    text-align: center;
    grid-column: 3/4;
    padding-top: 9px;
    padding-bottom: 8px;
}

.result-link-active {
    background-color: #7DB54F;
}

.result-card-rating {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    background-color: #F2F2F2;
    padding: 9px 32px 8px 33px;
    display: inline-block;
    border-radius: 4px;
    margin: 0;
    grid-column: 2/4;
}

.number-hotels {
    border: 2px solid #E5E5E5;
}

/*Пагинация*/
.pagination {
    width: 390px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #82B3D3;
    text-decoration: none;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 4px;
}

.pagination-link {
    text-decoration: none;
    color: #FFFFFF;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}
/*форма поиска гостиниц по дате*/
.search-form-title {
    font-size: 30px;
    line-height: 1.2;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.search-form label {
    font-size: 20px;
    line-height: 1.3;
    vertical-align: top;
    font-weight: 700;
    color: #000000;
}

.button-search-hotels {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    background-color: #82B3D3;
    border: none;
}

.search-form-input {
    border: none;
    background-color: #F2F2F2;
    font-size: 18px;
    line-height: 1.2;
}

.search-form-text {
    font-size: 16px;
    line-height: 1.3;
    vertical-align: bottom;
}

.text-alerts {
    color: #FF5757;
}

.number-hotels {
    background: transparent;
    appearance: none;
    vertical-align: top;
    text-align: left;
    background: url("../images/icon/icon-bottom-tick.svg") right center no-repeat;
    font-size: 18px;
    line-height: 1.2;
    width: 160px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}